
/*keyframes....the powerhouse of css animations*/
html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}
img{
    width: 100px;
    height: 80px;
}
.grass, .sky, .road{
    position: relative;
}
.sky{
    height: 40%;
    background: skyblue;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    color: #fff;
    font-size: 50px;
}
.grass{
    height: 30%;
    background: seagreen;
}
.road{
    height: 30%;
    background: dimgrey;
    box-sizing: border-box;
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;
    width: 100%;
}
.lines{
    box-sizing: border-box;
    border: 5px dashed #fff;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 45%;
}
/*Elements to animate*/
.mario{
    position: absolute;
    top: -40px;
    left: 0;
    animation: drive 3s both infinite linear,
            jump .3s 1.2s ease ;
}
.cloud{
    animation: cloud 100s both infinite linear;
    position: absolute;
}
.sky h1{
    position: absolute;
}
.luigi{
    position: absolute;
    top: 70px;
    left: 0;
    animation-name: drive;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: normal;/*does from to and to from*/
    animation-timing-function: linear;
}
/*Keyframes*/
@keyframes drive{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(1250px);
    }
}
@keyframes cloud{
    from{
        transform: translateX(-800px);
    }
    to{
        transform:translateX(1000px) ;
    }

}
@keyframes jump{
    0%{
        top: -40px;
    }
    50%{
        top: -100px;
    }
    100%{
        top: -40px;
    }
}
@media (max-width: 500px){
    @keyframes cloud{
        from{
            transform: translateX(30px);
        }
        to{
            transform:translateX(800px) ;
        }
    
    }
}